{% extends '::base.html.twig' %}

{% set menu = 'export' %}
{% set submenu = "export" %}

{% block title %}
    Accueil - GLADVAD
{% endblock %}

{% block body %}
    <center>
        <h1 class="display-1">GLADVAD</h1><br>
        <form action="{{ path('home_register') }}" method="post">
            <label>Pseudo :</label>
            <input type="text" name="pseudo" required><br><br>
            <button type="submit" type="button" class="btn btn-warning">SUIVANT</button>
        </form>
    </center>
{% endblock %}